In [1]:
# 1. **Lists:**
list =  list(range(1 , 11))

In [2]:
print(f"My List is :{list}")
print(f"\nFirst number in list is : {list[0]}")
print(f"\nLast number in list is : {list[-1]}")
print(f"\nReverse list is : {list[::-1]}")
print(f"\nSum list is : {sum(list)}")

My List is :[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

First number in list is : 1

Last number in list is : 10

Reverse list is : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Sum list is : 55

In [3]:
# 2. **Dictionaries:**
"""naturalNumbers = {
    1 : 1,
    2 : 4,
    3 : 9,
    4 : 16,
    5 : 25,

}"""
naturalNumbers = {i: i**2 for i in range(1, 6)}

In [4]:
print(naturalNumbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [5]:
naturalNumbers[6]=36
naturalNumbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [6]:
if 4 in naturalNumbers:
  print("Key 4 exists in the dictionary")
else:
    print("Key 4 does not exist in the dictionary")

Key 4 exists in the dictionary

In [7]:
 #1. **Student Grades:**
studentsGrade = {
    'Nada' : [80 , 90 ,100],
    'Esraa' : [88 , 90 ,95],
    'Rehab' : [80 , 70 ,100],

}

studentsGrade

{'Nada': [80, 90, 100], 'Esraa': [88, 90, 95], 'Rehab': [80, 70, 100]}

In [8]:
# Print Each Student with Grade
for student, grades in studentsGrade.items():
    print(f"{student}: {grades}")

Nada: [80, 90, 100]
Esraa: [88, 90, 95]
Rehab: [80, 70, 100]

In [9]:
# print Average Grades to Each Student
student_averages = {}

print("Average Grades:")
for student, grades in studentsGrade.items():
    average = sum(grades) / len(grades)
    student_averages[student] = average
    print(f"{student}: {average:.2f}")

Average Grades:
Nada: 90.00
Esraa: 91.00
Rehab: 83.33

In [10]:
student_averages

{'Nada': 90.0, 'Esraa': 91.0, 'Rehab': 83.33333333333333}

In [11]:
high =student_averages.values()
print(f' the Highest average is :{max(high)}')

 the Highest average is :91.0

In [13]:
# print the Highest student average

highest_avg_student = max(student_averages, key=student_averages.get)
print(f"The Highest Student is : {highest_avg_student} , With Highest Average : {max(high)}" )

The Highest Student is : Esraa , With Highest Average : 91.0

In [14]:
# 2. **Shopping Cart:**
shoppingCart = {
    'BMW' : 50000,
    'Marsedis' : 60000,
    'Frary': 80000
}
shoppingCart

{'BMW': 50000, 'Marsedis': 60000, 'Frary': 80000}

In [15]:
# add new item in shoppingCart dictionary
shoppingCart['SUV'] = 90000

shoppingCart

{'BMW': 50000, 'Marsedis': 60000, 'Frary': 80000, 'SUV': 90000}

In [16]:
# calculate total price
sum(shoppingCart.values())

280000

In [18]:
# 3. **Employee Database:**
employees = [

             {
                  'name': 'Nada',
                  'age': 23,
                  'department': 'Data Engineering'
             },
             {
                  'name': 'Esraa',
                  'age': 25,
                  'department': 'SW Engineering'
             },
             {
                  'name': 'Rehab',
                  'age': 26,
                  'department': 'Data Engineering'
             },

]

employees

[{'name': 'Nada', 'age': 23, 'department': 'Data Engineering'},
 {'name': 'Esraa', 'age': 25, 'department': 'SW Engineering'},
 {'name': 'Rehab', 'age': 26, 'department': 'Data Engineering'}]

In [24]:
# Filter employees by a specific department => Data Engineering
print('Employees in Data Engineering Department : ')
for e in employees:
  if e['department'] == 'Data Engineering' :
    print(f"=> {e['name']}")

Employees in Data Engineering Department :
=> Nada
=> Rehab

In [25]:
#- Find the average age of employees.
total_age = 0
for emp in employees:
    total_age = emp['age'] + total_age

average_age = total_age / len(employees)
print(f"Average age: {average_age:.1f} years")

Average age: 24.7 years

In [26]:
#### **Challenge Section**
# 1. **Word Frequency Counter:**
####if text =  "hello python hello"
#it should return something like
#{'hello': 2, 'python': 1}

text = "hello python hello"
words = text.split()
frequency = {}
for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1

print(frequency)

{'hello': 2, 'python': 1}

In [28]:
# 2. **Inventory Management:**
inventory_system = {
     'table' : {
         'price' : 500,
         'quantity' : 10
     },
     'chair' : {
         'price' : 200,
         'quantity' : 15
     },
     'fan' : {
         'price' : 600,
         'quantity' : 8
     },
 }

inventory_system

{'table': {'price': 500, 'quantity': 10},
 'chair': {'price': 200, 'quantity': 15},
 'fan': {'price': 600, 'quantity': 8}}

In [33]:
#- Update stock after a sale.
inventory_system['new table'] = {
         'price' : 1000,
         'quantity' : 5
}

inventory_system['table'] = {
         'price' : 1000,
         'quantity' : 5
}

inventory_system

{'table': {'price': 1000, 'quantity': 5},
 'chair': {'price': 200, 'quantity': 15},
 'fan': {'price': 600, 'quantity': 8},
 'new table': {'price': 1000, 'quantity': 5}}

In [34]:
inventory_system

{'table': {'price': 1000, 'quantity': 5},
 'chair': {'price': 200, 'quantity': 15},
 'fan': {'price': 600, 'quantity': 8},
 'new table': {'price': 1000, 'quantity': 5}}

In [35]:
restock_threshold = 20
restock_items = {}


# restock_items based on high quantity to low

for item, details in inventory_system.items():
    if details['quantity'] < restock_threshold:
        restock_items[item] = details

print("Items that need restocking:")
print(sorted(restock_items.items()))

Items that need restocking:
[('chair', {'price': 200, 'quantity': 15}), ('fan', {'price': 600, 'quantity': 8}), ('new table', {'price': 1000, 'quantity': 5}), ('table', {'price': 1000, 'quantity': 5})]

In [36]:
#  3. **Nested Data Manipulation:**
library = {
    'SQL' : ['my SQL' , 'SQL Server' ,'SQL'],
    'OS' : ['Windows' ,'Linux']
}

library

{'SQL': ['my SQL', 'SQL Server', 'SQL'], 'OS': ['Windows', 'Linux']}

In [37]:
# - Add a new book to a genre.
library['SQL'].append('sqlllllllllllll')

library

{'SQL': ['my SQL', 'SQL Server', 'SQL', 'sqlllllllllllll'],
 'OS': ['Windows', 'Linux']}

In [38]:
#- List all books of a specific genre.
print(library['SQL'])

['my SQL', 'SQL Server', 'SQL', 'sqlllllllllllll']

In [45]:
#  4. **Anagram Checker:**
#text1 = 'listen'
#text2= 'silent'
# ['L', 'e', 'i', 'n', 's', 't']
#['S', 'e', 'i', 'l', 'n', 't']

def are_anagrams(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()

    return sorted(str1) == sorted(str2)

print(are_anagrams("Listen", "Silent"))
print(are_anagrams("hello", "world"))

#sorted('Listen')
print(sorted('Listen'))
print(sorted('Silent'))

True
False
['L', 'e', 'i', 'n', 's', 't']
['S', 'e', 'i', 'l', 'n', 't']

In [ ]:
sorted('nada')

['a', 'a', 'd', 'n']

In [47]:
# 5. **Two-Sum Problem:**
def sumNum(nums, target):
    for i in range(len(nums)):
        for j in range(i + 1, len(nums)):
            if nums[i] + nums[j] == target:
                return [i, j]
    return []

In [48]:
sumNum([2,7,11,15] ,9)

[0, 1]